blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
decorator==4.4.2
filelock==3.16.1
Flask==2.3.2            
fsspec==2024.10.0
huggingface-hub==0.26.2
idna==3.10
imageio==2.31.1
imageio-ffmpeg==0.4.8   
itsdangerous==2.1.2     
Jinja2==3.1.2           
MarkupSafe==2.1.2
moviepy==1.0.3
numpy==1.22.4           
packaging==24.1
pillow==9.5.0           
proglog==0.1.10
PyYAML==6.0.2
regex==2024.11.6
requests==2.31.0        
safetensors==0.4.5
setuptools==75.3.0
SpeechRecognition==3.8.1
tokenizers==0.13.3      
tqdm==4.67.0
transformers==4.26.0    
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==2.3.7         

